select option {
    border: 1px solid black;
    margin-top: 4px;
    border-radius: 10px;
    padding: 8px 10px;
}


.form-inline input:focus {
    box-shadow: none;
    outline: none;
    border: 2px solid black;
}

.form-inline select:focus {
    box-shadow: none !important;
}


.amenities select option[selected] {
    background-color: rgb(84, 251, 112);

}